loadfont unicode

# Đã dọn dẹp đoạn code gọi ảnh nền bị lỗi
set color_normal=white/black
set color_highlight=black/light-gray

menuentry "Dailoi OS" {
	set gfxpayload=keep
	# Đã xóa splash, thêm bộ đôi loglevel=3 fbcon=nodefer để giấu sạch chữ ma trận
	linux	/casper/vmlinuz  boot=casper uuid=6e72f523-dc09-4880-8910-93ffa64401c5 username=mint hostname=mint quiet fbcon=nodefer loglevel=3 --
	initrd	/casper/initrd.gz
}

menuentry "Dailoi0st (compatibility mode)" {
	linux	/casper/vmlinuz  boot=casper uuid=6e72f523-dc09-4880-8910-93ffa64401c5 username=mint hostname=mint iso-scan/filename=${iso_path} noapic noacpi nosplash irqpoll nomodeset --
	initrd	/casper/initrd.gz
}

menuentry "Start Dailoi OS" {
	set gfxpayload=keep
	# Đồng bộ xóa splash và thêm cấu hình ẩn chữ hoàn toàn
	linux	/casper/vmlinuz  boot=casper uuid=6e72f523-dc09-4880-8910-93ffa64401c5 username=mint hostname=mint iso-scan/filename=${iso_path} quiet fbcon=nodefer loglevel=3 --
	initrd	/casper/initrd.gz
}

if [ "$grub_platform" = "efi" ]; then
menuentry 'Boot from next volume' {
	exit 1
}
menuentry 'UEFI Firmware Settings' {
	fwsetup
}
menuentry 'Memory test' {
	linux	/boot/memtest.efi
}
fi
